<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests">


<listeners>
<listener class-name="com.nopCommerce.Utilits.ExtentReportManager"/>

</listeners>
 <test  name="ChromeTest">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>  
         <class name="com.nopCommerce.testCase.Tc_SearchCustomerbyEmail_004"/>
          <class name="com.nopCommerce.testCase.Tc_SearchCustomerbyName_005"/>
          
    </classes>
  </test> 
  
  
  
  
</suite> <!-- Suite -->
